{% extends 'layout.html' %}
{% block title %} Home {% endblock %}

{% block content %}

<div class="hero-container">
    <!-- Puedes cambiar 'tu-video.mp4' con la ruta correcta a tu video -->
    <video autoplay muted loop id="hero-video">
        <source src="{{ url_for('static', filename='videos/video2.mp4') }}" type="video/mp4">
        Tu navegador no soporta el tag de video.
    </video>
    <div class="hero-content">
        <h1>Bienvenido a nuestro sitio</h1>
        <p>Descubre experiencias únicas y conecta con personas increíbles.</p>
    </div>
</div>

{% endblock %}
